[submodule "libs/bump"]
	path = libs/bump
	url = https://github.com/kikito/bump.lua.git
[submodule "libs/hump"]
	path = libs/hump
	url = https://github.com/vrld/hump.git
[submodule "libs/serpent"]
	path = libs/serpent
	url = https://github.com/pkulchenko/serpent.git
